.navbar-container {
  background-color: #061d3a;
}

.nav-center {
  margin: 0 auto;
  font-size: 1.5rem;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.hero-container a {
  max-width: 4rem;
}

.hero-text {
  margin: 0 auto;
  text-align: center;
  align-content: center;
  padding: 1rem;
}

/* @media screen and (min-width: 992px) {
  .nav-center {
    font-size: 3rem;
  }
} */
